
.vs/SimpleLevelEditor/v15/.suo
*.db
*.ipch
*.dll
*.obj
*.tlog
*.tlog
*.lastbuildstate
*.pch
*.pdb
*.idb
*.vcxproj
*.filters
*.log
*.exe
*.iobj
*.ipdb
.vs/SimpleLevelEditor/v14/.suo
*.ilk
*.sdf
*.suo

*/Debug/
*.opendb
